<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор параметров модели</title>
</head>
<body>
    <center><h1>Выберите параметры модели "{{model_type}}"</h1></center>
    {% extends "base.html" %}

    {% block content %}

    <div class="container">
        {{ wtf.quick_form(form1) }}
    </div>
    
    <div class="container" style="display: flex; justify-content: flex-end">
        {{ wtf.quick_form(form2) }}
    </div>

    {% endblock %}
</body>
</html>